////.card-list {
////min-width: 320px;

////&--modif {
// padding: 0 20px 0;
////}
////}

@media (min-width: $tablet-width) {
  .card-list {
    ////min-width: 748px;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    &--modif {
      ////padding: 0 60px 0;
    }
  }
}

@media (min-width: 1200px) {
  .card-list {
    ////min-width: 1200px;
    ////min-height: 668px;
    width: 1200px;

    &--modif {
      padding: 0;
    }
  }
}
