.card-list {
  min-width: 320px;

  &--list-modif {
    padding: 0 20px;
  }
}

@media (min-width: $tablet-width) {
  .card-list {
    display: flex;
    min-width: 768px;
    flex-wrap: wrap;

    &--list-modif {
      padding: 0 60px;
    }

    & :first-child {
      min-width: 648px;
    }
  }
}
