.card-item {
  min-width: 280px;
  min-height: 410px;
  flex-basis: 320px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
}

.card-item__photo {
  width: 280px;
  height: 279px;
}

.card-item__name {
  font-weight: 700;
}

.card-item__autor {
  text-transform: none;
}

.card-item__count-like {
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .card-item {
    &:first-child {
      min-width: 768px;
      padding: 0;

      .card-item__photo {
        min-width: 768px;
      }

      .card-item__info {
        min-width: 768px;
      }
    }
  }

  .card-item__photo {
    flex: 1;
  }
}
