.contacts {
  //min-width: 280px;
  min-width: 320px;
  //min-height: 287px;
  border: 0;
  padding: 0;
  margin: 0;
  //display: flex;
  //flex-direction: column;
  //border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;

  &--modif {
    padding: 18px 20px 16px;
  }
}

.contacts__info {
  min-width: 280px;
  display: flex;
  flex-direction: column;
  position: relative;

  &--modif {
    margin-bottom: 13px;
  }
}

.contacts__icon {
  position: absolute;
  width: 56px;
  height: 58px;
  //background-image: url("../../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e6e6e6;
  right: 0;
  bottom: 0;

  &--phone {
    background-image: url("../img/icon-phone.svg");
  }

  &--email {
    background-image: url("../img/icon-mail.svg");
  }
}

.contacts__title {
  margin: 0 auto 20px;
  width: 239px;
  font-size: 18px;
  font-weight: 700;
  display: block;
}

.contacts__text {
  //min-width: 280px;
  //display: flex;
  //flex-direction: column;
  margin: 0 22px 6px;
}

.contacts__value {
  display: block;
  //flex: 1;
  height: 58px;
  border: 0;
  background-color: #f2f2f2;
  padding-right: 56px;

  &::placeholder {
    padding-left: 22px;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
  }

  &:hover {
    background-color: #e5e5e5;

    &::placeholder {
      background-color: #e5e5e5;
    }
  }

  &:focus {
    background-color: #ffffff;
    border: 3px solid #e5e5e5;
    outline: none;

    &::placeholder {
      background-color: #ffffff;
    }
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    //flex: 1;
    flex-grow: 1;
    flex-basis: 648px;
    position: relative;
    border-bottom: 0;

    &--modif {
      padding: 0;
      margin-top: 66px;
    }
  }

  .contacts__info {
    &--modif {
      margin-bottom: 25px;
    }
  }

  .contacts__title {
    font-size: 21px;
    width: 280px;
    margin: 0 auto 25px;

    &::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 0;
      width: 123px;
      height: 1px;
      background-color: #e6e6e6;
    }

    &::after {
      content: "";
      position: absolute;
      top: 13px;
      right: 0;
      width: 123px;
      height: 1px;
      background-color: #e6e6e6;
    }
  }

  .contacts__text {
    &--modif {
      margin-bottom: 25px;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    flex: 1;
    //min-width: 1200px;
  }

  .contacts__hidden {
    display: none;
  }

  .contacts__title {
    margin-bottom: 75px;

    &::before {
      content: "";
      width: 280px;
    }

    &::after {
      content: "";
      width: 280px;
    }
  }

  .contacts__info {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 480px;

    &--phone {
      width: 400px;
      margin-right: 76px;
    }
  }

  .contacts__text {
    margin: 0;
    margin-right: 15px;
  }

  .contacts__value {
    flex-grow: 1;
  }
}
