.contact-info__title {
  @include big-font;
  margin: 0 auto;
  width: 250px;
}

.contact-info {
  min-width: 320px;
  border: 0;
  border-bottom: 1px solid black;

  &--contact-modif {
    padding: 20px 20px 25px 20px;
  }
}

.contact-info__date {
  min-width: 280px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.contact-info__mobile-holder::placeholder,
.contact-info__email-holder::placeholder {
  @include big-font;
  color: #000000;
  background-color: $main-form-color;
  text-transform: none;
  padding-left: 21px;
}

.contact-info__mobile-holder,
.contact-info__email-holder {
  display: block;
  padding: 20px 0;
  min-width: 280px;
  background-color: $main-form-color;
  border: 0;
}

@media (min-width: $tablet-width) {
  .contact-info {
    min-width: 648px;
  }
}

@media (min-width: $desktop-width) {
  .contact-info__date {
    width: 480px;
    flex-direction: row;
    min-height: 60px;
    align-items: center;
    display: inline-block;
  }

  .contact-info {
    width: 1200px;
  }

  .contact-info__mobile-holder,
  .contact-info__email-holder {
    display: inline-block;
    padding: 20px 0;
    min-width: 280px;
    background-color: $main-form-color;
    border: 0;
  }
}
