.contact-info__title {
    @include big-font;
    margin: 0;
}

.contact-info__mobile-holder::placeholder,
.contact-info__email-holder::placeholder {
    @include big-font;
    color: #000000;
    background-color: $main-form-color;
    text-transform: none;
    padding-left: 21px;
}

.contact-info__mobile-holder,
.contact-info__email-holder {
  display: block;
  padding: 20px 0;
  width: 280px;
  background-color: $main-form-color;
  border: 0;
}
