.feedback-form {
  min-width: 320px;
  background-color: #ffffff;

  &--modif {
    padding-bottom: 38px;
  }
}

@media (min-width: $tablet-width) {
  .feedback-form {
    display: flex;
    flex-wrap: wrap;

    &--modif {
      padding: 0 60px 60px;
    }
  }

  .feedback-form__button {
    margin: 0;

    &::after {
      content: "* — обязательные поля";
      position: absolute;
      color: #000000;
      right: 40px;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

@media (min-width: $desktop-width) {
  .feedback-form {
    background-color: #ffffff;
    max-width: 1200px;

    &--modif {
      padding: 0 120px;
    }
  }
}
