.feedback__title {
  @include big-font;
  width: 210px;
  margin: 0 auto;
}

.feedback {
  min-width: 320px;
  height: 203px;
  text-align: center;

  &--feedback-modif {
    padding: 45px 20px 20px 20px;
  }
}

.feedback__text {
  width: 280px;
  min-height: 105px;
  margin: 0 auto;
}
