.represent__title,
.contact-info__title,
.user-impr__title,
.user-visit__title,
.user-opinion__title {
    @include big-font;
}

.contact-info__mobile-holder::placeholder,
.contact-info__email-holder::placeholder,
.represent__name-holder::placeholder,
.represent__surname-holder::placeholder,
.represent__patron-holder::placeholder {
    @include big-font;
    color: #000000;
    background-color: #f1f1f1;
    text-transform: none;
}
