@media (max-width: 767px) {
  .main-menu__item {
    &:nth-child(1) {
      border-bottom: 1px solid #678fa8;
    }

    &:nth-child(2) {
      border-bottom: 1px solid #678fa8;
      border-top: 1px solid #9ac2db;
    }

    &:nth-child(3) {
      border-bottom: 1px solid #678fa8;
      border-top: 1px solid #9ac2db;
    }

    &:nth-child(4) {
      border-top: 1px solid #9ac2db;
    }
  }
}

.main-menu {
  padding: 0;
  margin: 0;
}

.main-menu__item {
  text-align: center;
  height: 54px; //в firefox не работает Min-height
}

.main-menu__link {
  display: block;
  padding-top: 7px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  min-height: 54px;
  color: #ffffff;

  &:hover {
    color: #c2d9e8;
  }

  &:active {
    color: #dadada;
  }
}

@media (min-width: $tablet-width) {
  .main-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
  }

  .main-menu__item {
    width: 154px;
    display: table;

    &:nth-child(3) {
      margin-left: auto;
    }
  }

  .main-menu__link {
    color: #000000;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .main-menu__item {
    width: 240px;
  }
}
