@media (max-width: 767px) {
  .main-menu__item {
    &:nth-child(1) {
      border-bottom: 1px solid #678fa8;
    }

    &:nth-child(2) {
      border-bottom: 1px solid #678fa8;
      border-top: 1px solid #9ac2db;
    }

    &:nth-child(3) {
      border-bottom: 1px solid #678fa8;
      border-top: 1px solid #9ac2db;
    }

    &:nth-child(4) {
      border-top: 1px solid #9ac2db;
    }
  }
}

.main-menu {
  padding: 0;
  margin: 0;
}

.main-menu__item {
  text-align: center;
  min-height: 54px;
}

.main-menu__link {
  display: block;
  padding-top: 7px;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  min-height: 54px;
  color: #ffffff;
}

.main-menu__action {
  min-height: 56px;
  background-color: #ffffff;
  position: relative;
}

.main-menu__logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.main-menu__button-toggle {
  width: 24px;
  height: 24px;
  position: absolute;
  display: block;
  border: none;
  mask: url("../img/icon-menu.svg") no-repeat 100% 100%;
  background-color: #9ac2db;
  right: 20px;
  top: 14px;

  &--toggle-modif {
    mask: url("../img/icon-cross.svg") no-repeat 100% 100%;
    background-color: #ffffff;
    top: -210px;
  }
}

@media (min-width: $tablet-width) {
  .main-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
  }

  .main-menu__item {
    width: 154px;
    display: table;

    &:nth-child(3) {
      margin-left: auto;
    }
  }

  .main-menu__link {
    color: #000000;
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    line-height: 24px;
    padding: 0;
  }

  .main-menu__action {
    top: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }

  .main-menu__button-toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-menu__item {
    width: 240px;
  }
}
