.page-footer {
  min-width: 320px;
  min-height: 243px;
  display: flex;
  align-items: center;
  flex-direction: column;

  &--footer-modif {
    padding: 35px 0 0 0;
  }
}

.page-footer__hash {
  font-size: 21px;
  font-weight: 700;
}

.page-footer__made-by {
  text-align: center;
  display: flex;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
    min-height: 120px;
    min-width: 768px;

    &--footer-modif {
      padding: 0;
    }
  }
}
