.page-header {
  min-width: 320px;
  min-height: 56px;
  background-color: $main-color;
}

.page-header__menu {
  min-width: 320px;
  min-height: 56px;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-height: 56px;
    min-width: 768px;
    background-color: #ffffff;
  }

  .page-header__menu {
    min-height: 56px;
  }
}
