.page-header {
  width: 320px;
  outline: 1px solid red;
}

.main-menu__link {
  text-decoration: none;
  display: block;
  text-align: center;
  background-color: $main-color;
  min-height: 56px;
  width: 320px;
  @include big-font;
  color: #ffffff;
    &--item-link {
      padding: 20px 0;
    }
}

.main-menu__menu-item {
  min-height: 56px;
  width: 320px;
  list-style: none;
}
