.page-header {
  min-width: 320px;
 // min-height: 280px;
}

.page-header__menu {
  min-width: 320px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .page-header {
    min-width: $tablet-width;
    min-height: 56px;
  }

  .page-header__menu {
    min-width: $tablet-width;
    background-color: #ffffff;
  }
}
