.represent {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  border-bottom: 1px solid black;
  margin: 0;

  &--represent-modif {
    padding: 20px 20px 25px 20px;
  }
}

.represent__title {
  @include big-font;
  margin: 0 auto;
  width: 140px;
}

.represent__info {
  display: flex;
  height: 60px;
  align-items: center;
  margin-bottom: 23px;
}


.represent__name-holder::placeholder,
.represent__surname-holder::placeholder,
.represent__patron-holder::placeholder {
  @include big-font;
  color: #000000;
  background-color: $main-form-color;
  text-transform: none;
  padding-left: 21px;
}

.represent__name-holder {
  flex: 1;
  padding: 20px 0 18px 0;
  line-height: 26px;
  border: 0;
  background-color: $main-form-color;
  margin-left: 10px;
}

.represent__surname-holder {
  line-height: 26px;
  padding: 20px 0 20px 0;
  background-color: $main-form-color;
  border: 0;
  flex: 1;
  margin-left: 12px;
}

.represent__patron-holder {
  line-height: 26px;
  background-color: $main-form-color;
  border: 0;
  flex: 1;
  padding: 22px 0 21px 0;
  margin-left: 17px;
}

@media (min-width: $tablet-width) {
  .represent {
    width: 324px;
    min-height: 305px;
    border: 0;
    flex-grow: 1;

    &--represent-modif {
      padding: 0;
    }
  }
}
