.represent {
  min-width: 320px;
  //min-height: 305px;
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;

  &--modif {
    padding: 17px 20px 5px;
  }
}

.represent__title {
  font-size: 18px;
  margin: 0 auto 22px;
  font-weight: 700;
  width: 140px;
}

.represent__text {
  //display: flex;
  //align-items: center;
  //min-width: 280px;
  //margin-bottom: 20px;
}

.represent__info {
  min-width: 280px;
  display: flex;
  align-items: center;

  &--modif {
    margin-bottom: 20px;
  }
}

.represent__value {
  height: 58px;
  background-color: #f2f2f2;
  border: 0;
  //flex: 1;
  margin-left: 15px;
  flex-grow: 1;
  padding-left: 22px;

  &::placeholder {
    border: 0;
    background-color: #f2f2f2;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    //padding-left: 18px;
  }

  &:hover {
    background-color: #e5e5e5;

    &::placeholder {
      background-color: #e5e5e5;
    }
  }

  &:focus {
    background-color: #ffffff;
    border: 3px solid #e5e5e5;
    outline: none;
    padding-left: 19px;

    &::placeholder {
      background-color: #ffffff;
    }
  }
}

@media (min-width: $tablet-width) {
  .represent {
    flex: 1;
    flex-basis: 324px;
    height: 300px;
    min-height: 300px;
    border-top: 0;
    border-bottom: 0;

    &--modif {
      padding: 0 0 0 41px;
    }
  }

  .represent__info {
    &--modif {
      padding-left: 16px;
    }
  }

  .represent__title {
    font-size: 21px;
    margin: 0 0 58px 17px;
  }

  .represent__text {
    //min-width: 256px;
  }
}

@media (min-width: $desktop-width) {
  .represent {
    &--modif {
      padding: 0 0 0 63px;
    }
  }
}
