.sedona-bglogo {
  height: 388px;
  min-width: 320px;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  &--modif {
    height: 158px;
  }
}

@media (min-width: $tablet-width) {
  .sedona-bglogo {
    height: 518px;
    min-width: 320px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    &--modif {
      height: 290px;
    }
  }
}
