.sedona-city {
  min-height: 466px;
  min-width: 320px;
}

.sedona-city__info {
  min-width: 320px;
  min-height: 207px;
  background-color: $main-color;
  color: #ffffff;
  text-align: center;

  &--modif {
    padding: 53px 20px 0 20px;
  }
}

.sedona-city__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto 5px auto;
  width: 280px;
}

.second-city__count {
  display: block;
  margin: 0 auto 15px auto;
  width: 280px;
}

.second-city__text {
  line-height: 21px;
  margin: 0 auto;
  width: 280px;
}

.sedona-city__photo {
  min-width: 320px;
  height: 260px;
  background-image: url("../img/main-city-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: $main-color;
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .sedona-city {
    display: flex;
    flex-direction: row;
    min-height: 256px;
  }

  .sedona-city__info {
    min-width: 256px;
    min-height: 256px;

    &--modif {
      padding-top: 46px;
    }
  }

  .sedona-city__title {
    font-size: 21px;
    width: 180px;
    margin: 5px auto 0 auto;
  }

  .second-city__text {
    width: 180px;
    margin: 0 auto;
  }

  .second-city__count {
    width: 60px;
    margin-bottom: 18px;
  }

  .sedona-city__photo {
    background-image: url("../img/main-city-tablet@1x.jpg");
    flex-grow: 1;
    min-width: 512px;
    height: 256px;
  }
}

@media (min-width: $desktop-width) {
  .sedona-city__info {
    min-width: 400px;
  }

  .sedona-city__photo {
    min-width: 800px;
  }
}
