.sedona-interested {
  min-width: 320px;
  min-height: 287px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--interested-modif {
    padding: 25px 20px 15px 20px;
  }
}

.sedona-interested__title {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
}

.sedona-interested__button {
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  display: block;
  min-width: 280px;
  min-height: 58px;
  text-align: center;
  padding: 16px 0 17px 0;
}

.sedona-interested__text {
  text-align: center;
  margin: 18px 0 37px 0;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .sedona-interested {
    min-height: 317px;

    &--interested-modif {
      padding: 55px 20px 15px 20px;
    }
  }

  .sedona-interested__text {
    margin: 30px 0 43px 0;
    width: 450px;
    min-height: 45px;
  }

  .sedona-interested__button {
    width: 457px;
  }

  .sedona-interested__title {
    font-size: 30px;
  }
}

@media (min-width: $desktop-width) {
  .sedona-interested {
    min-height: 330px;
  }
}
