.sedona-bglogo {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-color: $main-color;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 320px;
  height: 390px;

  &--form-back {
    min-width: 320px;
    height: 160px;
  }
}

@media (min-width: $tablet-width) {
  .sedona-bglogo {
    background-image: url("../img/bg-back-tablet@1x.jpg");

    &--form-back {
      min-width: 768px;
      height: 290px;
    }
  }
}
