.sedona-title__info {
  width: 258px;
  min-height: 70px;
  margin: 0 auto;

  &--title-modif {
    @include big-font;
  }
}

.sedona-title {
  min-width: 280px;
  min-height: 224px;
  text-align: center;

  &--title-modif {
    padding-top: 40px;
    padding-bottom: 35px;
  }
}

@media (min-width: $tablet-width) {
  .sedona-title__info {
    width: 465px;
  }

  .sedona-title {
    min-width: 648px;
    min-height: 205px;
  }
}
