.sedona-list {
  min-height: 415px;
  width: 320px;
  outline: 1px solid red;

  &--list-modif {
    padding: 40px 40px 42px 70px;
  }
}

.sedona-list__title {
  @include big-font;
}

.sedona-list__item {
  width: 217px;
  min-height: 110px;
}
