.sedona-bridge {
  min-height: 450px;
  min-width: 320px;
}

.sedona-bridge__info {
  min-height: 191px;
  min-width: 320px;
  background-color: $main-color;
  text-align: center;
  color: #ffffff;

  &--modif {
    padding: 40px 20px 0 20px;
  }
}

.sedona-bridge__title {
  margin: 0 auto 5px auto;
  font-size: 18px;
}

.sedona-bridge__text {
  margin: 0 auto;
  display: block;
  line-height: 21px;
}

.sedona-bridge__count {
  display: block;
  margin-bottom: 15px;
}

.sedona-bridge__photo {
  min-height: 260px;
  min-width: 320px;
  background-image: url("../img/main-bridge-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $main-color;

  @media (min-resolution: $retina-dpi),
    (min-resolution: $retina-dppx) {
    background-image: url("../img/main-bridge-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .sedona-bridge {
    min-height: 256px;
    min-width: 768px;
    display: flex;
  }

  .sedona-bridge__info {
    order: 1;
    min-width: 256px;
    min-height: 256px;

    &--modif {
      padding: 45px 45px 0 45px;
    }
  }

  .sedona-bridge__text {
    max-width: 160px;
  }

  .sedona-bridge__title {
    width: 151px;
    font-size: 21px;
  }

  .sedona-bridge__photo {
    width: 512px;
    min-height: 256px;
    flex-grow: 1;
    background-image: url("../img/main-bridge-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bridge-tablet@2x.jpg");
    }
  }

  .sedona-bridge__count {
    margin-bottom: 22px;
  }
}

@media (min-width: $desktop-width) {
  .sedona-bridge {
    min-height: 256px;
    min-width: 1200px;
  }

  .sedona-bridge__info {
    min-height: 256px;
    min-width: 400px;

    &--modif {
      padding: 53px 20px 0 20px;
    }
  }

  .sedona-bridge__text {
    max-width: 220px;
  }

  .sedona-bridge__photo {
    min-width: 800px;
    height: 256px;
    background-image: url("../img/main-bridge-desktop@1x.jpg");
    background-position-y: 50%;

    @media (min-resolution: $retina-dpi),
      (min-resolution: $retina-dppx) {
      background-image: url("../img/main-bridge-desktop@2x.jpg");
    }
  }
}
