.sedona-bglogo {
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-color: $main-color;
  background-position: center center;
  background-repeat: no-repeat;
  outline: 1px solid red;
  width: 320px;
  height: 390px;

  &--form-back {
    width: 320px;
    height: 157px;
  }
}
