.sedona-title__info {
  width: 258px;
  min-height: 70px;
  margin: 0 auto;

  &--title-modif {
    @include big-font;
  }
}

.sedona-title__text {
  margin: 0;
  margin-top: 25px;
}

.sedona-title {
  min-width: 280px;
  min-height: 224px;
  text-align: center;

  &--title-modif {
    padding: 40px 20px 28px 20px;
  }
}

@media (min-width: $tablet-width) {
  .sedona-title__info {
    width: 465px;
    margin-top: 12px;

    &--title-modif {
      font-size: 21px;
    }
  }

  .sedona-title {
    min-width: 648px;
    min-height: 210px;
  }

  .sedona-title__text {
    margin-top: 11px;
  }
}
