.sedona-city {
    min-height: 468px;
    width: 320px;
}

.sedona-city__info {
    width: 320px;
    min-height: 208px;
    background-color: $main-color;
    clip-path: polygon(50% 6%, 100% 0, 100% 100%, 0 100%, 0 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}

.sedona-city__title {
    @include big-font;
}

.sedona-city__count {
    font-size: 14px;
}

.sedona-city__text {
    font-size: 14px;
}

.sedona-city__photo {
    width: 320px;
    min-height: 260px;
}