.socials {
  width: 151px; // 46 48
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  &--modif {
    margin-bottom: 39px;
  }
}

.socials-item {
  width: 46px;
  height: 48px;
  background-color: $main-color;
}

@media (min-width: $tablet-width) {
  .socials {
    min-width: 256px;
    min-height: 120px;
    justify-content: center;
    align-items: center;

    &--modif {
      margin-bottom: 0;
    }
  }

  .socials-item {
    &:nth-child(2) {
      margin: 0 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .socials {
    min-width: 400px;
  }
}
