.social {
  width: 151px;
  display: flex;
  justify-content: space-between;

  &--modif {
    margin-bottom: 44px;
  }
}

.socials__item__icon {
  fill: #ffffff;
}

.social__item__link {
  width: 46px;
  height: 48px;
  background-color: $main-color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;

    .socials__item__icon {
      fill: rgba(255, 255, 255, 0.5);
    }
  }
}

@media (min-width: $tablet-width) {
  .social {
    &--modif {
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin: 0 auto;
  }
}
/*
.socials {
  width: 151px; // 46 48
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &--modif {
    margin-bottom: 33px;
  }
}

.socials__item__icon {
  fill: #ffffff;
}

.socials__item {
  width: 46px;
  height: 48px;
  background-color: $main-color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .socials {
    min-width: 256px;
    min-height: 120px;
    justify-content: center;
    align-items: center;

    &--modif {
      margin-bottom: 0;
    }
  }

  .socials__item {
    &:nth-child(2) {
      margin: 0 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .socials {
    min-width: 400px;
  }
}

*/
