.user-opinion__title {
  @include big-font;
  margin: 0 auto;
  width: 225px;
}

.user-opinion__text::placeholder {
  @include big-font;
  color: #000000;
  background-color: $main-form-color;
  text-transform: none;
  padding-left: 21px;
}

.user-opinion {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  border: 0;

  &--opinion-modif {
    padding: 0 20px;
  }
}

.user-opinion__text {
  width: 100%;
  height: 160px;
  resize: none;
  flex: 1;
  background-color: $main-form-color;
}

@media (min-width: $tablet-width) {
  .user-opinion {
    min-width: 648px;
  }
}

