.user-opinion {
  min-width: 280px;
  //min-height: 220px;
  margin: 0;
  padding: 0;
  border: 0;

  &--modif {
    padding: 18px 20px 0;
  }
}

.user-opinion__button {
  width: 280px;
  height: 58px;
  background-color: $main-color;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  margin: 51px auto 0;
  display: block;
  border: 0;
}

.user-opinion__title {
  margin: 0 auto 18px;
  width: 215px;
  font-size: 18px;
}

.user-opinion__text {
  min-width: 280px;
  resize: none;
  min-height: 160px;
  border: 0;
  background-color: #f2f2f2;
  margin: 0 auto;
  display: block;
  padding: 16px 18px 0 21px;
  font-size: 18px;
  font-weight: 700;

  &::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    opacity: 1 // фикс для цвета в firefox
    //padding: 16px 18px 0 21px;
  }
}

.user-opinion__req-fields {
  position: absolute;
  color: black;
  font-size: 14px;
  font-weight: 400;
  right: 0;
  bottom: 0;
  display: none;

  &--modif {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .user-opinion {
    flex: 1;
    flex-basis: 648px;
    min-height: 232px;
    position: relative;

    &--modif {
      padding: 23px 0 0;
    }
  }

  .user-opinion__req-fields {
    bottom: 15px;

    &--modif {
      display: block;
    }
  }

  .user-opinion__button {
    width: 324px;
    margin: 57px 0 0;
  }

  .user-opinion__title {
    font-size: 21px;
    width: 256px;
    margin: 0 auto 58px;

    &::before {
      content: "";
      position: absolute;
      top: 36px;
      left: 0;
      width: 123px;
      height: 1px;
      background-color: #e6e6e6;
    }

    &::after {
      content: "";
      position: absolute;
      top: 36px;
      right: 0;
      width: 123px;
      height: 1px;
      background-color: #e6e6e6;
    }
  }

  .user-opinion__text {
    min-width: 648px;
  }
}

@media (min-width: $desktop-width) {
  .user-opinion {
    &--modif {
      margin-top: 30px;
      padding: 18px 0 65px;
    }
  }

  .user-opinion__req-fields {
    bottom: 80px;
  }

  .user-opinion__text {
    min-width: 960px;
  }

  .user-opinion__button {
    width: 480px;
    margin-top: 60px;
  }

  .user-opinion__title {
    &::before {
      content: "";
      width: 272px;
      top: 32px;
    }

    &::after {
      content: "";
      width: 272px;
      top: 32px;
    }
  }
}
