.user-visit {
  min-width: 320px;
  //min-height: 407px;
  border: 0;
  padding: 0;
  margin: 0;
  //border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;

  &--modif {
    padding: 18px 20px 0;
  }
}

.user-visit__form {
  min-width: 280px;
}

.user-visit__block {
  //min-width: 280px;
  //height: 56px;
  margin-bottom: 25px;
  margin-top: 0;
  position: relative;

  &:last-child {
    margin-bottom: 9px;
  }
}

.user-visit__title {
  margin: 0 auto 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  width: 250px;
}

.user-visit__check {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  min-height: 56px;
  //position: relative;

  &::before {
    content: "";
    width: 55px;
    height: 55px;
    border-radius: 12%;
    background-color: #f2f2f2;
    display: block;
    position: absolute;
    left: 2px;
    top: -12px;
  }

  &--modif {
    padding-left: 78px;
  }

  &:hover {
    &::before {
      background-color: #e5e5e5;
    }
  }

  &:active {
    &::before {
      background-color: #d5d5d5;
    }

    &::after {
      opacity: 0.3;
    }
  }
}

.user-visit__button {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

  &:checked + .user-visit__check::after {
    content: "";
    width: 12px;
    height: 22px;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    position: absolute;
    transform: rotate(45deg);
    left: 23px;
    top: 0;
  }
}

@media (min-width: $tablet-width) {
  .user-visit {
    flex: 1;
    flex-basis: 648px;
    //min-height: 305px;
    position: relative;
    border: 0;

    &--modif {
      margin-top: 10px;
    }
  }

  .user-visit__form {
    min-width: 648px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .user-visit__block {
    //width: 324px;
    //flex: 1;
    flex-basis: 240px;
    //height: 90px;
    display: flex;
    //justify-content: center;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 30px;
    }

    &:nth-child(even) {
      margin-left: 20px;
    }
  }

  .user-visit__title {
    font-size: 21px;
    width: 290px;
    text-align: center;
    margin-bottom: 58px;

    &::before {
      content: "";
      position: absolute;
      top: 43px;
      left: 0;
      width: 123px;
      height: 1px;
      background-color: #e6e6e6;
    }

    &::after {
      content: "";
      position: absolute;
      top: 43px;
      right: 0;
      width: 123px;
      height: 1px;
      background-color: #e6e6e6;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-visit__form {
    justify-content: space-between;
  }

  .user-visit__block {
    //width: 256px;
    //flex-basis: 256px;
    //min-height: 90px;
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    position: relative;
    flex-basis: 195px;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(even) {
      margin-left: 0;
    }
  }

  .user-visit {
    &--modif {
      margin-top: 26px;
      padding: 0;
      padding-bottom: 5px;
    }
  }

  .user-visit__check {
    &--modif {
      padding-left: 73px;
    }
  }

  .user-visit__title {
    &::before {
      content: "";
      position: absolute;
      top: 25px;
      left: 0;
      width: 282px;
      height: 1px;
      background-color: #e6e6e6;
    }

    &::after {
      content: "";
      position: absolute;
      top: 25px;
      right: 0;
      width: 282px;
      height: 1px;
      background-color: #e6e6e6;
    }
  }
}
