.user-opinion {
  min-width: 280px;
  min-height: 220px;
  margin: 0;
  padding: 0;
  border: 0;

  &--modif {
    padding: 0 20px;
  }
}

.user-opinion__title {
  margin: 0 auto;
  width: 225px;
}

.user-opinion__text {
  min-width: 280px;
  resize: none;
  min-height: 160px;
  border: 0;
  background-color: #f2f2f2;

  &::placeholder {
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    padding: 15px 0 0 15px;
  }
}

@media (min-width: $tablet-width) {
  .user-opinion {
    flex: 1;
    flex-basis: 648px;
    min-height: 232px;
  }

  .user-opinion__title {
    font-size: 21px;
    width: 256px;
    margin: 0 auto 58px;
  }

  .user-opinion__text {
    min-width: 648px;
  }
}
