.user-impr__title {
  @include big-font;
  margin: 0 auto;
  width: 245px;
}

.user-impr {
  text-transform: none;
  border: 0;
  min-width: 320px;
  display: flex;
  margin: 0;

  &--impr-modif {
    padding: 20px 20px 0 20px;
  }
}


@media (min-width: $tablet-width) {
  .user-impr {
    width: 324px;
    min-height: 305px;
    order: -1;
    flex-grow: 1;

    &--impr-modif {
      padding: 0;
    }
  }
}

.user-impr__radio-ch {
  display: block;
}
